<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <% if(msg === "added") { %>
    <p class="success"> Product added successfully!</p>
<% } %>

<% if(msg === "deleted") { %>
    <p class="success"> Product deleted successfully!</p>
<% } %>

<% if(msg === "updated") { %>
    <p class="success"> Product updated successfully!</p>
<% } %>
   <h1>🛒 Inventory Dashboard</h1>

<div style="text-align:center; margin-bottom:20px;">
    <a href="/add" class="btn btn-add">+ Add Product</a>
</div>

<div class="container">

<% products.forEach(p => { %>

    <div class="card">

        <% if(p.image){ %>
            <img src="/uploads/<%= p.image %>">
        <% } %>

        <h3><%= p.name %></h3>
        <p><b>₹ <%= p.price %></b></p>
        <p>Qty: <%= p.quantity %></p>

        <a  href="/products/<%= p._id %>/edit" class="btn btn-edit">Edit</a> <br> <br>

        <form  action="/products/<%= p._id %>?_method=DELETE" method="POST">
            <button class="btn btn-delete">Delete</button>
        </form>

    </div>

<% }) %>

</div>
<script>
    setTimeout(() => {
        const msg = document.querySelector(".success");
        if(msg) msg.style.display = "none";
    }, 3000);
</script>
</body>
</html>